/*  css reset  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  css reset  end */


body {
    font-family: helvetica, arial;
}

img {
    max-width: 100vw;
    max-height: 100vh;
}

h2 {
    color: blue;
    background: pink;
    padding: 10px;
    margin: 30px;
    display: inline-block;
}

/*  flex container */
header ul {
    display: flex;


}


.header li {
    text-align: center;
    flex: 1;
    border-right: 1px solid white;

}

.header li {
    text-align: center;
    flex: 1;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
}

.header li:last-child {
    border:none;
}

.header a {
    flex: 1;
    color: white;
    background: navy;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
    height: 30px;
}

.header a:hover {
    background: rgba(100, 100, 100, 0.7);
}

p {
    color: violet;
}

.gallery-image {
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    transition: all 0.5s;
    text-align: center;
    flex: 1 0 50vw;

}

.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gallery-image-big {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.gallery-big-background {
    background: #e3e3e3;
    background-size: cover;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
}


.gallery-big-close {
    font-size: 2em;
    padding: .5em;
    background: rgba(255,255,255,0.6);
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 2;
}


.button-more {
    display: inline-block;
    margin-top: 10px;
    width: 100%; 
    padding: 15px;
    background: brown;
    color: white;
    text-align: center;
    cursor: pointer;
}

.button-zpet {
    position: fixed;
    bottom: .3em;
    right: .3em;
    width: 5em; 
    padding: 5px;
    background: gray;
    color: white;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
    height: 2em;
}

h1 {
    color: red;
}

body {
    background: #e3e3e3;
}

@media (min-width: 320px) and (max-width: 480px) {
/*
    body, button, a, .button-zpet, .button-more {
        font-size: 2em;
    }

    .header a {
        height: 100px;
    }
    */
}

